/* Montserrat-Light */
@font-face {
  font-family: 'Montserrat';
  font-weight: 300;
  font-style: normal;
  src:
    url('../fonts/Montserrat-Light.woff') format('woff');
}

/* Montserrat-Regular */
@font-face {
  font-family: 'Montserrat';
  font-weight: 400;
  font-style: normal;
  src:
    url('../fonts/Montserrat-Regular.woff') format('woff');
}

/* Montserrat-SemiBold */
@font-face {
  font-family: 'Montserrat';
  font-weight: 600;
  font-style: normal;
  src:
    url('../fonts/Montserrat-SemiBold.woff') format('woff');
}

/* Montserrat-Bold */
@font-face {
  font-family: 'Montserrat';
  font-weight: 700;
  font-style: normal;
  src:
    url('../fonts/Montserrat-Bold.woff') format('woff');
}

/* Montserrat-ExtraBold */
@font-face {
  font-family: 'Montserrat';
  font-weight: 800;
  font-style: normal;
  src:
    url('../fonts/Montserrat-ExtraBold.woff') format('woff');
}

* {
  box-sizing: border-box;
}

:root {
  --black-color: #333333;
  --orange-color: #FF9900;
  --link-ellipse: #ececec;
  --link-color-grey: #666666;
  --link-color: #E1670E;
  --white-color: #ffffff;
  --grey-color: #cacaca;
  --grey-color-2: #e5e5e5;
  --dark-black-color: #222222;
  --dark-grey-color: #414141;
}

:focus {
  outline: transparent;
}

:focus-visible {
  outline: 4px dotted rgb(32, 25, 173);
  outline-offset: 10px;
  background: #ffa
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

html {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  background-color: var(--grey-color-2);
}

body {
  background-color: var(--link-ellipse);
}

.btn {
  background-color: var(--orange-color);
  padding: 24.83px 36.88px;
  border: none;
  font-size: 23.46px;
  color: var(--white-color);
  font-weight: 700;
  line-height: 29px;
  cursor: pointer;
}

.header__nav-btn-close {
  display: none;
}

.section-hero {
  position: relative;
  z-index: 0;
}

.swiper-container {
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  list-style: none;
  padding: 0;
  z-index: 0;
}

.swiper-slide {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.burger {
  display: none;
}


.container {
  max-width: 1800px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  position: relative;
  width: 100%;
  height: 100px;
  background-color: var(--white-color);
  box-shadow: 0px 4px 4px 0px rgb(0 0 0 / 25%);
  z-index: 1;
}

.header-container {
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.header__logo {
  margin: 13px 0.8px;
}

.header__nav-wrap {
  display: flex;
  align-items: center;
}

.header__nav-list {
  display: flex;
}

.header__nav-item {
  display: flex;
  margin-right: 86px;
}

.header__nav-link {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: var(--black-color);
}



.header__nav-link::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: var(--link-color);
  transition: width .3s
}

.header__nav-link:focus::after,
.header__nav-link:hover::after {
  width: 100%;
  transition: width .3s
}

.header__btn {
  width: 22px;
  height: 25px;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
  cursor: pointer;
}

/* Section Hero */

.section-hero__container {
  height: 620px;
}

.section-hero__wrap {
  padding: 20px 0 76px 80px;
  max-width: 894px;
  position: absolute;
  z-index: 2;
}

.swiper-pagination-bullet-active {
  background-color: var(--white-color);
}

.swiper-pagination-bullet {
  margin: 15px 10px !important;
  width: 15px !important;
  height: 15px !important;
  background-color: var(--white-color) !important;
}

.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 10px !important;

}

.swiper-container-horizontal>.swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 27px !important;
}

.section-hero__heading {
  margin: 80px 0 22px 0;
  font-weight: 800;
  font-size: 70px;
  line-height: 85px;
  color: var(--white-color);
}

.section-hero__text {
  font-size: 24px;
  font-weight: 700;
  line-height: 29.26px;
  color: var(--white-color);
  margin: 0;
  padding: 0 0 90px 0;
}

.section-hero__btn {
  transition: 0.6s;
}

.section-hero__btn:hover {
  background-color: var(--link-color);
  transition: 0.6s;
}

.section-hero__btn:focus-visible {
  outline: 4px dotted rgb(252, 252, 252);
  outline-offset: 10px;

}

.section-hero__dot-wrap {
  position: absolute;
  left: 47.5%;
  top: 70%;
}

.section-hero__dot-active {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 100px;
  background: var(--white-color);
  margin: 17px 5px !important;
}


.section-hero__dot {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 100px;
  background: rgba(255, 255, 255, 0.4);
  margin: 17px 9px !important;
}

/* Section About */

.section-about__container {
  margin-bottom: 95px;
}

.section-about__content-wrap {
  display: flex;
}

.section-about__title {
  margin: 100px 0 20px 0;
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
  color: var(--black-color);
}

.section-about__text {
  margin: 0 0 52px 0;
  font-size: 16px;
  line-height: 32px;
  color: var(--black-color);
  max-width: 1235px;
}

.section-about__content-left {
  display: flex;
  align-items: flex-end;
  max-width: 868px;
  min-height: 622px;
  background-image: url(../img/background-about.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin-right: 32px;
}

.section-about__content-inner {
  display: flex;
  padding: 23px 52px 24px 48px;
  justify-content: space-between;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  min-height: 196px;
}

.section-about__content-text {
  color: var(--white-color);
  font-size: 16px;
  font-weight: 700;
  line-height: 32px;
  margin-right: 98px;
}

.section-about__button {
  border: 3px solid var(--orange-color);
  padding: 13px 35px;
  background-color: transparent;
  color: var(--white-color);
  font-size: 16px;
  font-weight: 700;
  transition: 0.6s;
}

.section-about__button:hover {
  background-color: var(--orange-color);
  border: 3px solid var(--orange-color);
  color: var(--white-color);
  transition: 0.6s;
}

.section-about__button:focus-visible {
  outline: 4px dotted rgb(255, 255, 255);
  outline-offset: 10px;
}


.section-about__right-wrap {
  max-width: 870px;
  max-height: 295px;
  border: 1px solid var(--grey-color);
  display: flex;
  padding: 64px 118px 65px 300px;
  background-repeat: no-repeat;
  background-position: 8.8% center;
}

.section-about__right-wrap:first-child {
  margin-bottom: 32px;
}

.section-about__right-content-wrap {
  display: flex;
  flex-direction: column;
  min-width: 452px;
}

.section-about__right-ico {
  width: 190px;
  height: 160px;
  margin-right: 50px;
}

.section-about__right-heading {
  margin: 0 0 8px 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.section-about__right-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  margin: 0;
}

/* Section How Work */

.how-work__title {
  margin: 0;
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
  margin-bottom: 50px;
}

.how-work__list {
  display: flex;
  margin-bottom: 45px;
}

.how-work__item:not(:last-child) {
  margin-right: 85px;
}

.how-work__btn {
  background-color: transparent;
  border: none;
  padding: 0;
  color: var(--black-color);
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  cursor: pointer;
  transition: 0.4s;
}

.how-work__btn:hover {
  color: var(--orange-color);
  transition: 0.4s;
}

.how-work__btn:focus-visible {
  outline: 4px dotted #e73;
  outline-offset: 10px;
  background: #ffa;
}

.tab-btn-active {
  color: var(--orange-color);
  transition: 0.6s;
}

.tab-btn {
  color: var(--black-color);
  transition: 0.6s;
}

.how-work__content-wrap {
  display: none;
}

.tab-active {
  display: flex;
  margin-bottom: 100px;
}

.how-work__content-left {
  max-width: 758px;
  margin-right: 142px;
}

.how-work__content-left-btn-wrap {
  display: flex;
}

.how-work__content-right-pic {
  padding-top: 8px;
  width: 870px;
}

.how-work__content-left-heading {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  margin-bottom: 8px;
}

.how-work__content-left-text {
  font-size: 16px;
  line-height: 32px;
  margin-bottom: 50px;
}

.how-work__content-left-btn-1 {
  border: 1px solid var(--orange-color);
  padding: 20px 38px;
  color: var(--white-color);
  font-size: 16px;
  font-weight: 700;
  margin-right: 32px;
  background-color: var(--orange-color);
  cursor: pointer;
  transition: 0.6s;
}

.how-work__content-left-btn-1:hover {
  background-color: var(--link-color);
  transition: 0.6s;
}

.how-work__content-left-btn-1:focus-visible {
  outline: 4px dotted #e73;
  outline-offset: 10px;
}

.how-work__content-left-btn-2 {
  padding: 20px 36px;
  background-color: transparent;
  font-size: 16px;
  font-weight: 400;
  border: 1px solid var(--black-color);
  cursor: pointer;
  transition: 0.6s;
}

.how-work__content-left-btn-2:focus-visible {
  outline: 4px dotted #e73;
  outline-offset: 10px;
}

.how-work__content-left-btn-2:active {

  outline-offset: 10px;
}

.how-work__content-left-btn-2:hover {
  background-color: var(--link-color-grey);
  border: 1px solid var(--link-color-grey);
  color: var(--white-color);
  transition: 0.6s;
}

.how-work__content-left-btn-2:active {
  background-color: var(--black-color);
  color: var(--white-color);
  transition: 0.6s;
}

/* Section Often Question */

.often-question__container {
  min-height: 658px;
}

.often-question__list {
  padding-bottom: 100px;
}

.often-question__title {
  margin: 0;
  font-size: 48px;
  font-weight: 400;
  line-height: 60px;
  color: var(--black-color);
  margin-bottom: 40.5px;
}

.often-question__item-heading {
  margin: 0;
  padding: 39px 0;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
}

.often-question__item-link:first-child {
  color: var(--black-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid var(--grey-color);
  transition: 0.6s;
}

.often-question__item-link:first-child:hover {
  color: var(--orange-color);
  transition: 0.6s;
}


.often-question__item-link:first-child {
  border-bottom: none;
}

.often-question__item-link:hover {
  color: var(--orange-color);
  transition: 0.6s;
}

.often-question__item-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--grey-color);
  transition: 0.6s;
}

.often-question__item-ellipse {
  width: 50px;
  height: 50px;
  border-radius: 100px;
  background-color: var(--grey-color-2);
  display: flex;
  justify-content: center;
  transition: 0.6s;
  border: none;
  align-items: center;
}

.often-question__item-ellipse:focus-visible {
  outline: 4px dotted #e73;
  outline-offset: 10 px;
  background: #ffa;
}

.often-question__item-ellipse:hover {
  background-color: var(--orange-color);
  transition: 0.6s;
}

.often-question__item-ellipse-pic {
  max-width: 31px;
  fill: var(--link-color-grey);
  transition: 0.4s;
}

.often-question__item-ellipse-pic:hover {
  fill: var(--white-color);
  transition: 0.6s;

}

.often-question__item-ellipse.is-active {
  background-color: var(--orange-color);
  transform: rotate(45deg);
  transition: transform .6s ease-in-out;
}

.often-question__item-ellipse-pic.is-active {
  fill: var(--white-color);
}

.often-question__content-wrap {
  display: none;
}

.often-question__content-wrap.is-active {
  display: block;
  padding: 0 0 40px 0;
  transition: transform .6s ease-in-out;
}

.often-question__content-wrap-text {
  font-size: 16px;
  line-height: 32px;
  color: var(--black-color);
}

/* Section Footer */

footer {
  padding: 47.4px 0;
  min-height: 594px;
  background-color: var(--dark-black-color);
}

.footer__wrap {
  display: flex;
  justify-content: space-between;
}

.footer__wrap-left {
  min-width: 252px;
  margin-right: 110px;
}

.wrap-left-img {
  display: block;
  margin-bottom: 20px;
}

.social-ico-link {
  width: 60px;
  transition: 0.6s;
  margin-right: 25px;
} 

.social-ico-link:focus-visible {
  outline: 4px dotted rgb(255, 255, 255);
  outline-offset: 10px;
  background: transparent;
  border-radius: 100px;
} 

.btn-check_focus:focus-visible {
  outline: 4px dotted rgb(255, 255, 255);
}

.social-ico-link:not(:last-child) {
  margin-right: 25px;
}

.wrap-left__list {
  margin-bottom: 90px;
}

.wrap-left__link {
  font-size: 18px;
  font-weight: 600;
  line-height: 36px;
  color: var(--grey-color);
  transition: 0.6s;
}

.wrap-left__link:hover {
  color: var(--orange-color);
  transition: 0.6s;
}

.wrap-left__link:focus-visible {
  outline: 4px dotted rgb(255, 255, 255);
  color: var(--dark-black-color);
  outline-offset: 10px;
  background: #ffa;
}

.wrap-left__social {
  display: flex;
}



.social-ico-link path:hover {
  fill: var(--orange-color);
  transition: 0.6s;
}

.footer__wrap-center {
  display: flex;
  flex-direction: column;
  min-width: 570px;
}

.wrap-center__form-input:focus-visible {
  outline: 4px dotted rgb(255, 255, 255);
  color: var(--dark-black-color);
  outline-offset: 10px;
  background: #ffa;
}

.wrap-center__form-input {
  display: flex;
  flex-direction: row;
}

.wrap-center__btn-wrap {
  display: flex;
  align-items: center;
}

.wrap-center__heading {
  font-size: 48px;
  line-height: 59px;
  font-weight: 400;
  color: var(--grey-color);
  margin: 0 0 25px 0;
}

.wrap-center__form-input,
.wrap-center__form-textarea {
  padding: 14px 24px;
  width: 100%;
  background-color: var(--dark-grey-color);
  border: none;
  margin-bottom: 25px;
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
}

.wrap-center__form-textarea {
  height: 150px;
  max-width: 570px;
}

.wrap-center__form-textarea:focus-visible {
  outline: 4px dotted rgb(255, 255, 255);
  color: var(--dark-black-color);
  outline-offset: 10px;
  background: #ffa;
}

.wrap-center__form-btn {
  padding: 19px 52px;
  background-color: var(--orange-color);
  border: 1px solid var(--orange-color);
  color: var(--white-color);
  font-size: 16px;
  font-weight: 700;
  margin-right: 22px;
  transition: 0.6s;
}

.wrap-center__form-btn:hover {
  background-color: var(--link-color);
  border: 1px solid var(--link-color);
  transition: 0.6s;
}

.wrap-center__form-btn:focus-visible {
  outline: 4px dotted rgb(255, 255, 255);
  outline-offset: 10px;
}

.wrap-center__form-btn-check-link {
  color: var(--grey-color);
  font-size: 16px;
}

.wrap-center__form-btn-check-link:focus-visible {
  outline: 4px dotted rgb(255, 255, 255);
  outline-offset: 10px;
  color: var(--dark-black-color);
}

.footer__wrap-right {
  display: flex;
  align-items: center;
  margin: 0;
  max-width: 363px;
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
  color: var(--grey-color);
}

/* MOBILE DESKTOP */
/* Mobile 1799px */

@media (max-width: 1799px) {
  .section-hero__container {
    background-size: cover;
  }
}

@media (max-width: 1399px) {
  .section-about__content-inner {
    display: block;
  }

  .section-about__right-wrap {
    padding: 64px 88px 65px 300px;
  }

  .section-about__content-text {
    margin-right: 0;
  }

  .footer__wrap-left {
    margin-right: 80px;
  }

  .how-work__content-wrap {
    flex-direction: column;
    display: none;
  }

  .tab-active {
    display: block;
  }

  .how-work__content-left {
    margin-bottom: 30px;
  }

  .how-work__content-right-pic {
    width: 60%;
  }

  .how-work__content-left {
    max-width: 100%;
  }
}

/* Mobile 1199px */

@media (max-width: 1199px) {
  .container {
    margin: 0 10px;
  }

  .header__logo {
    width: 30%;
    margin: 10px auto;
  }

  .section-hero__container {
    background-size: cover;
  }

  .section-about__content-wrap {
    flex-direction: column;
  }

  .section-about__content-left {
    max-width: 100%;
    margin-bottom: 32px;
  }

  .section-about__right-wrap {
    max-width: 97%;
  }

  .how-work__content-wrap {
    display: none;
    flex-direction: column;
  }

  .tab-active {
    display: flex;
    flex-direction: column;
  }

  .how-work__content-left {
    min-width: 100%;
    margin-bottom: 40px;
  }

  .how-work__content-right-pic {
    width: 100%;
  }

  .footer__wrap {
    flex-direction: column;
  }

  .footer__wrap-left {
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
  }

  .wrap-left__list {
    margin-bottom: 50px;
  }

  .wrap-left__social {
    width: 24%;
  }

  .footer__wrap-center {
    min-width: 750px;
    margin: 0 auto;
    margin-bottom: 50px;
  }

  .footer__wrap-right {
    max-width: 100%
  }
}

/* Mobile 1099px */

@media (max-width: 1120px) {

  .header__nav-link {
    font-size: 25px;
    line-height: 50px;
  }

  .header-container {
    align-items: center;
  }

  .header__nav-btn-close {
    display: block;
  }

  .burger {
    display: block;
    width: 30px;
    position: relative;
    height: 23px;
    border: none;
  }

  .burger__line {
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 3px;
    background-color: var(--black-color);
  }

  .burger__line:first-child {
    top: 0;
    left: 0;
  }

  .burger__line:nth-child(2) {
    top: 45%;
    left: 0;
  }

  .burger__line:last-child {
    bottom: 0;
    left: 0;
  }


  .header__nav-list {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 10;
    top: 0;
    bottom: 0;
    left: 0;
    width: 400px;
    height: 720px;
    padding: 40px;
    background-color: #f2f2f2;
    transition: transform .3s ease-in-out;
    transform: translateX(-101%);
  }


  .header__nav-list.is-active {
    transform: none;
    transition: transform .3s ease-in-out;
  }

  .header__nav-list {
    padding: 100px 50px 0px 65px;
    opacity: 0.95;
  }

  .header__nav-btn-close {
    width: 25px;
    height: 25px;
    border: none;
    position: absolute;
    top: 35px;
    left: 50px;
  }

  .header__nav-btn-close::before,
  .header__nav-btn-close::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: var(--black-color);
  }


  .header__nav-btn-close::before {
    transform: rotate(45deg);
  }

  .header__nav-btn-close::after {
    transform: rotate(-45deg);
  }

  .section-hero__heading {
    font-size: 55px;
    line-height: 69px;
  }

  .section-hero__text {
    font-size: 20px;
  }
}

/* Mobile 850px */

@media (max-width: 850px) {

  .section-about__right-wrap {
    padding: 50px 25px 49px 273px;
  }

}

/* Mobile 769px */

@media (max-width: 769px) {
  .section-about__content-wrap {
    margin-bottom: 60px;
  }


  .section-hero__wrap {
    padding: 160px 40px 0 40px;
  }

  .section-hero__heading {
    margin: 0;
    font-size: 50px;
    line-height: 60px;
    margin-bottom: 16px;
  }

  .section-hero__text {
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    padding: 0 0 60px 0;
  }

  .footer__wrap-left {
    flex-direction: column;
  }

  .wrap-left-img {
    width: 45%;
    margin-bottom: 20px;
  }

  .wrap-left__social {
    width: 50%;
  }

  .footer__wrap-center {
    min-width: 700px;
  }

  .section-about__right-content-wrap {
    min-width: 369px;

  }

  .section-about__right-text {
    line-height: 28px;
  }
}

/* Mobile 729px */

@media (max-width: 729px) {
  .footer__wrap-center {
    min-width: 650px;
  }

  .section-hero__heading {
    font-size: 45px;
    line-height: 59px;
  }

  .section-hero__text {
    font-size: 19px;
  }

  .section-about__right-wrap {
    background-position: 3.8% center;
  }

  .section-about__right-wrap {
    padding: 50px 21px 49px 228px;
  }

  .section-about__content-left {
    margin-right: 0;
  }
}

/* Mobile 679px */

@media (max-width: 679px) {
  .section-hero__wrap {
    padding: 110px 40px 0 40px;
  }

  .section-hero__heading {
    font-size: 35px;
    line-height: 49px;
  }

  .section-hero__text {
    font-size: 14px;
  }

  .section-hero__btn {
    font-size: 18px;
    padding: 15.83px 20.88px;
  }

  .often-question__item-heading {
    font-size: 14px;
    line-height: 24px;
  }

  .often-question__title {
    font-size: 48px;
    line-height: 51px;
  }

  .footer__wrap-center {
    min-width: 100%;
  }

  .section-about__right-wrap {
    padding: 188px 12px 48px 23px;
  }

  .section-about__right-wrap {
    max-height: 100%;
    background-position: 12.8% 3%;
  }
}

/* Mobile 439px */

@media (max-width: 439px) {
  .header__nav-link {
    font-size: 21px;
  }

  .how-work__item:not(:last-child) {
    margin-right: 18px;
  }

  .header__logo {
    width: 50%;
  }

  .section-hero__heading {
    text-align: center;
    font-size: 29px;
    line-height: 35px;
  }

  .section-hero__text {
    text-align: center;
    font-size: 17px;
  }

  .section-hero__btn {
    padding: 10px 25px;
    margin: 0 auto;
    display: block;
    font-size: 16px;
  }

  .section-about__title {
    font-size: 29px;
  }

  .how-work__title {
    font-size: 31px;
    margin-bottom: 30px;
  }

  .often-question__title {
    font-size: 29px;
    line-height: 29px;
  }

  .often-question__item-heading {
    font-weight: 400;
  }

  .wrap-center__heading {
    font-size: 24px;
    line-height: 35px;
  }

  .wrap-left-img {
    width: 205px;
  }

  .wrap-center__btn-wrap {
    flex-direction: column;
  }

  .section-about__right-wrap {
    padding: 190px 12px 47px 11px;
  }

  .section-about__right-heading {
    font-size: 17px;
  }

  .section-about__right-text {
    font-size: 13px;
  }

  .section-about__right-content-wrap {
    min-width: 100%;
  }

  .how-work__content-left-btn-1 {
    margin-right: 15px;
  }

  .section-about__text {
    font-size: 14px;
  }

  .how-work__content-left-text {
    font-size: 14px;
  }

  .often-question__item-heading {
    font-size: 14px;
  }

  .how-work__item:not(:last-child) {
    margin-right: 23px;
  }

  .section-about {
    margin-bottom: 40px;
  }
}